@charset "utf-8";
/* index/html */
.header_nav ul{
display:flex;
gap: 50px;
justify-content: flex-end;

}
.header_nav li a{
    font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
padding-right: 30px;
}

.header_nav{
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
width: 100%;
top: 30px;
}


.logo{
    width: 50px;
    padding-left: 30px;
}

h1{
    position: absolute;
    content: "";
    width: 413px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 59px;
    left: 4.8%;
    font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
text-align: left;
}
h1 span{
    font-size: 82px;
}

body{
    background-image: url(../images/background_pc１@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    
}

h2{
    font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}
h3{
    font-size: 26px;
    text-align: left;
   
}
h4{
    font-size: 13px;
    line-height: 25px;
    text-align: left;
    font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;

}
p{
    font-size: 14px;
}

/* index/html_abput */
.About_nav img{
    width: 110px;
    margin: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 55px;
}
.About_nav p{
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}

.aboutme img{
    width: 290px;
    padding-left: 38px;
}
.text_continer p{
    text-align: left;
    padding-bottom: 65px;
    padding-top: 30px;
}
.text_continer{
    display: flex;
}
.about_name{
margin-left: 110px;

}
.button_about{
    display: block;
    width: 143px;
    color: #544C40;
    font-size: 18px;
    background: #D3B3A8;
    border-radius: 50px;
    padding: 15px 30px;
   margin-left: auto;
   text-align: center;
   margin-top: -110px;
   margin-bottom: 100px;
   
}
/* index/html worlk */
.Works_nav{
    text-align: center;
}
.works_main_nav img{
    margin-bottom: 80px;
}

.works_main_nav a,.works_page_menu a
,.graphic_page_manu a{
    display: block;
    width: 31%;
}
.works_main_nav,.works_page_menu,.graphic_page_manu{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.works_page_menu{
    gap: 30px;
    justify-content: flex-start;
}
.button_works{
    display: block;
    width: 143px;
    color: #544C40;
    font-size: 18px;
    background: #D3B3A8;
    border-radius: 50px;
    padding: 15px 30px;
   margin-left: auto;
   text-align: center;
   margin-top: -24px;
    
}

/* index/html_service */

h5{
    font-size: 15px;
    text-align: center;
    padding-bottom: 38px;
}
.accordion-area img{
    width: 360px;  
 
    
}
.Service_nav ul{
display: flex;
gap: 37px;

}
.box p{
    text-align: left;
}

/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}


/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}
.box {
    display: none;/*はじめは非表示*/
    background: #d3b3a8d9;
  margin:0 3% 3% 3%;
    padding: 5%;
    width: 320px;
    margin-left: 70px;
    border-radius: 5px;}

/* contact */
.Contact_nav{
    text-align: center;
}
.Contact_nav p{
    font-size: 21px;
    line-height: 48px;
    padding-bottom: 85px;
}
.button{
    color: #544C40;
  font-size: 13px;
  background: #D3B3A8;
  border-radius: 50px;
  padding: 15px 30px;
  
}
.Contact_nav img{
    width: 110px;
    margin: auto;
  display: block;
  padding-bottom: 50px;
  padding-top: 90px;
}



/* about_html */

.aboutu_main{
    margin-top: -100px;
max-width: 1000px;
background-color: #DBD2D0;
position: relative;
}


.plofile ,.career ,.skill ,.career2{
    margin-left: 110px;
}
.plofile h2 ,.skill h2{
    font-size: 36px;
    text-align: left;
    padding-bottom: 12px;
}

.plofile p ,.skill p{
    font-size: 12px;
}

.designer{
    font-size: 14px;
    position: absolute;
    right: 100px;
}
.career2 img{
width: 300px;
padding-top: 90px;
padding-bottom: 35px;
}
.career2 ul ,.career ul{
    display: flex;
    gap: 125px;
    padding-bottom: 200px;
}

.name h2{
font-size: 24px;
text-align: left;
padding-bottom: 18px;
}
.name h3{
    font-size: 14px;
}
.name p{
    font-size: 14px;
    line-height: 28px;
    padding-top: 63px;
   
}
.career_year1,.career_year2,
.career_year3,.career_year4,.career_year5{
    padding-left: 82px;
}
.career_text{
    padding-left: 53px;
    line-height: 21px;
    padding-bottom: 20px; 
}
.career_text1{
    padding-left: 53px;
    line-height: 21px;
    padding-bottom: 25px; 
    padding-top: 56px; 
}
.career_year1{
padding-top: 60px;
padding-bottom: 116px;
}
.career_year2{
padding-bottom: 50px;
}
.career_year3{
    padding-bottom: 25px;
}
.career_year4{
    padding-bottom: 92px;
}
.career_year5{
    padding-bottom: 90px;
}








/* works_html */

.works_title h2{
    font-size: 30px;
    margin-bottom: 120px;
}
.nav_Graphic a ,.nav_web a{
    font-size: 25px;
    border-left: 10px solid #D3B3A8;
    padding: 0px 0px 0px 10px;
    font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
}
.nav_Graphic , .nav_web{
    cursor: pointer;
    padding: 0px 20px 0px 5px;
}
.works_page_nav{
    display: flex;
    justify-content: center;
}
.works_page_menu img{
    padding-bottom: 80px;
}
 .worksline {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}
.worksline::before{
    margin-right: 20px;
}
.worksline::before{
    content: "";
    width: 70px;
    height: 1px;
    background-color: #544C40;
}

.works_page_menu h2,.graphic_page_manu h2{
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 15px;
}
.works_page_menu p,.graphic_page_manu p{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 15px;
}



















/* contact_html */
/* .form p{ 
    font-size: 16px;
    line-height: 33px;
    text-align: center;
}
.form img{
    width: 125px;
    margin: auto;
  display: block;
  padding-top: 55px;
  padding-bottom: 70px;
} */
.c-form {
	max-width: 600px;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
}
.c-form__input {
	width: 90%;
	font-size: 16px;
	border: solid 1px #333;
	border-radius: 4px;
}
.c-form__input:focus-visible {
	outline: green auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: green;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: green;
	border: solid 1px green;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: green;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}
/* footer */
footer{
    background-color: #D3B3A8;
   text-align: center;
}
footer h2{
    font-size: 42px;
    text-align: center;
}
footer img{
    width: 60px;
    margin-top: 45px;
}
footer p{
    font-size: 12px;
    margin-top: 43px; 
    padding-bottom: 25px;

}
/* works01-10_html　実績　テキスト部分 */
.worksline_content {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 80px;
}
.worksline_content::before{
    margin-right: 20px;
}
.worksline_content::before{
    content: "";
    width: 70px;
    height: 1px;
    background-color: #544C40;}

.works_sub h2{
    font-size: 24px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 50px;
    border-left:5px solid #D3B3A8; 
    padding:2px 8px
}
.works_sub h3{
    font-size: 18px;
    border-bottom: 1px solid #544C40;
    padding-bottom: 55px;
    padding-left: 20px;
}
.works_sub dl{
    display: flex;
    flex-wrap: wrap;
}
.works_sub dt{
    font-weight: 700;
    width: 25%;
    padding: 16px 8px;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.works_sub dd{
    width: 75%;
    padding: 16px 8px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
    box-sizing: border-box;
    line-height: 24px;
}
/* works_０１ */
.works_sub img{

    padding-top: 55px;
}
    
.works_1_PC_LP{
    padding-top: 180px;
    max-width: 100%;
    margin: 0 auto;
}
/* works_06,07,08,09,10*/
.works_06_banner,.works_07_banner
,.works_08_banner,.works_09_flyer
,.works_10_flyer{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 135px;
}

/* works_04,03,02,*/
.works_02_LP,.works_03_LP
,.works_04_LP{
    display: flex;
    justify-content: space-evenly;
    padding-top: 180px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #d3b3a844;
}
.portfolio_pc img,.workers_pc img,.design_cafe_pc img{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.portfolio_sp img,.workers_sp img,.design_cafe_sp img
{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 80px;
    }

    <!--
    body {
        margin:0;
        padding:0;
        text-align:center;
        
    }
    #device {
        position:relative;
        margin:30px auto;
        background-color: #fff;
        width:344px;		/* 横スクロールバー+ボーダー */
        padding:100px 17px 15px;
        border:4px solid #c9c9c9;
        border-radius:50px;
        box-shadow:0 1px 24px #111;
    }
   
    
    #wrapper {
        overflow-x:hidden;
        overflow-y:scroll;
        height:450px;		/* ★iphone5 */
        border:3px solid #333;
        border-radius:2px;
    }
    #wrapper img {
        width:280px;
        border:0;
    }
    #button_mac{
    
        margin: 25px auto 0;
    }
    
    -->
    /* スマホ */
    /* ---- スマートフォン風スタイル --- */
.smartphone,.is-style-smartphone{
        --frame-color:#ced1d5;
        --frame-width:6px;
        --smartphone-width:0;
        --border-rd:0;
        --camera-width:0;
        --camera-height:0
    }
 .-s-14pro{
    --frame-color:#3c3c3c
}
.-c-gray{
    --frame-color:#ced1d5
}
.-c-black{
    --frame-color:#3c3c3c
}
.smartphone {
    height: 767px;
border: 6px solid #111;

width: fit-content;
border-radius: 41px;

position: relative;
box-shadow: 0 12px 24px -2px rgb(0 0 0 / 25%);
margin: 0 auto 3em;
}
    
.is-style-smartphone{
    height: 753px;
    overflow-y: scroll;
      border: solid calc(var(--smartphone-width) * 0.015) var(--frame-color);
      width: fit-content;
      border-radius: 41px;
      background: var(--frame-color);
      position: relative;
      box-shadow: 0 12px 24px -2px rgb(0 0 0 / 25%);
      margin: 0 auto 3em;

    }
    /* ---- END スマートフォン風スタイル --- */
/* wokes_05,11 */

/* <!--
body {
	margin:0;
	padding:0;
	text-align:center;
	
}
#device {
	position:relative;
	margin:30px auto;
	background-color: #fff;
	width:344px;		/* 横スクロールバー+ボーダー */
	/* padding:100px 17px 15px;
	border:4px solid #c9c9c9;
	border-radius:50px;
	box-shadow:0 1px 24px #111;
}
.mac #device {
	width:326px;
}
#wrapper {
	overflow-x:hidden;
	overflow-y:scroll;
	height:568px;		/* ★iphone
	border:3px solid #333;
	border-radius:2px;
}
#wrapper img {
	width:320px;
	border:0;
}
#button {
	width:58px;
	height:58px;
	margin:15px auto 0;
}
#earpiece {
	position:absolute;
	top:55px;
	left:50%;
	width:60px;
	height:6px;
	margin-left:-33px;
}
*/ 

 .relative{
        position: relative;
       
    }
.absolute{
        position: absolute;
        left: 91px;
        top: 66px;
        width: 393px;
    }
 .pc{
        width: 577px;
    }
.pc2{
        padding-bottom: 90px;
        width: 350px;
    }
.sikaku{
        background-color: #544C40;
        width: 15px;
        height: 15px;
        margin-left: 45px;
        margin-right: 18px;
    }
.promotion_text{
        display: flex;
        justify-content: left;
        padding-top: 45px;
        padding-bottom: 20px;
    }
.promotion_3 h4,.promotion_2 h4,.promotion_1 h4{
        font-size: 20px;
    }
.promotion_3,.promotion_2{
    background-color: #eda8864b;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.promotion_pic {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
} 

.promotion_3_pc{
    width: 58%;
    margin: 0 auto;
    margin-bottom: 125px;
}
.promotion_3_fly{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 125px;
}

 /* side_btn  works実績用 */
.side1_pc img{
    position: fixed;
    width: 20px;
    right: 40px;
    top:450px;
}
.side2_pc img{
    position: fixed;
    width: 20px;
    right: 40px;
    top:350px;
}
/* none sp*/ 
.header_nav_sp,.works_main_nav_sp
,.side1_sp,.side2_sp,.promotion_pic_sp,.smartphone{
    display: none;
}
@media screen and (max-width:1100px){
    .header_nav ul{
        display: none;
    }
    
    .hamburger{
        width: 30px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
       } 
       .hamburger span{
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        top: 50%;
        transition: 0.3s;
        left: 0;
       }
       .hamburger span::before{
        position: absolute;
        content:"" ;
        width: 30px;
        height: 2px;
        background-color: white;
        top: -10px;
        transition: 0.3s;
        left: 0;
       }
       .hamburger span::after{
        position: absolute;
        content:"" ;
        width: 30px;
        height: 2px;
        background-color: white;
        bottom: -10px;
        transition: 0.3s;
        left: 0;
       }
       .open span{
        background-color: transparent;
       }
       .open span::before{
        transform: rotate(45deg);
        top: 0;
       }
       .open span::after{
        transform: rotate(-45deg);
        bottom: 0;
       }
    .header_nav_sp{
        position: absolute;
        background-color: #cbbbb6e3;
        width: 100%;
        height: 524px;
        top: 0;
    }

    .header_nav_sp ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 67px;
    }
    .header_nav_sp li{
        color: white;
        font-family: "futura-pt", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;}

    .header_nav_sp img {
        width: 60px;
    }
    
        
    
}
@media screen and (max-width:767px){
/* home */
.works_main_nav{
    display: none;
}
.works_main_nav_sp{
    display: block;
    padding-bottom: 50px;
}
main,.form{
    margin-right: 25px;
    margin-left: 25px;
}
h1{
 color: whitesmoke;
    font-size: 40px;
    width: 216px;
    margin-top: 50px;
   
}
h1 span{
    display: none;
}

}
.text_continer{
    flex-direction: column;
}
.logo{
    width: 40px;
    padding-left: 15px;
    margin-top: -15px;
}
.about_name{
    margin: 0 auto;
    padding-top: 50px;
}
.slick-dots{
    bottom: 10px;
}
.slick-dots ul{
    color: #544C40;
}
.Service_nav h2{
    padding-top: 70px;
    padding-bottom: 30px;
}
.Service_nav h5{
    font-size: 11px;
}
.Service_nav p{
    font-size: 12px;
    line-height: 30px;
}

.box{
width: 250px;
margin: 0 auto;

}
.title{
    padding-left: 3%;
}
.button_about,.button_works{
    width: 150px;
    margin: auto;
}
.aboutme img{
    width: 170px;
}
.service_imges{
    flex-direction: column;

}
.Service_nav ul{
    display: block;
}
.Service_nav img{
    width: 100%;
}
.Contact_nav p{
    font-size: 14px;
    line-height: 25px;
}

/* about */
.designer{
    display: none;
}
.aboutu_main{
    margin: 0 auto;
}
.plofile ,.career ,.skill ,.career2{
    margin-left:10px;
    margin-right: 10px; 
    text-align: center;
}
.skill p,.plofile p{
    text-align:left ;
}
.career2 ul{
    flex-direction: column;
}
/* contact */

/* works　実績*/
.works_sub h2{
font-size: 14px;
margin-bottom: 8px;
}
.works_sub h3{
    font-size: 12px;
    padding-bottom: 10px;
}
.works_sub dt{
    width: 35%;
    padding: 16px 4px;
    font-size: 13px;
}
.works_sub dd{
    display: flex;
align-items: center;
width: 65%;
padding: 16px 8px;
font-size: 13px;
line-height: 1.4;
}

/* works_01*/
.works_1_PC_LP{
  padding-top: 100px;
}
/* works_06,07,08,09,10*/
.works_06_banner,.works_07_banner
,.works_08_banner,.works_09_flyer
,.works_10_flyer{
margin-top: 80px;
}
/* works_04,03,02,*/
.works_02_LP,.works_03_LP
,.works_04_LP{
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    max-width: 100%;
}
.smartphone{
    display: block;
    margin-top: 70px;
}
.workers_sp,.design_cafe_sp,.portfolio_sp{
    display: none;
}
.works_02_LP img,.works_04_LP img,.works_03_LP img{
    max-width: 100%;
}
.portfolio_pc,.design_cafe_pc,.workers_pc{
    margin-inline: 10%;
}

/* works_05,11 */
.promotion_3 h4,.sikaku{
display: none;
}
.promotion_pic{
    display: none;
}
.promotion_pic_sp{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.works_sub img{
    width: 100%;
}
/* work 実績のサイドボタン */
.side1_pc,.side2_pc{
    display: none;
    
}

.side{
    display: block;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 60px;

}
.side1_sp img {
    width: 67px;
}
.side2_sp img{
    width: 90px;
}

