@charset "utf-8";
/* index/html */
.header_nav ul{
display:flex;
gap: 50px;
justify-content: flex-end;

}

.header_nav{
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
width: 100%;
top: 30px;
}


.logo{
    width: 60px;
}

h1{
    position: absolute;
    content: "";
    width: 413px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 59px;
    left: 4.8%;
}
h1 span{
    font-size: 82px;
}

body{
    background-image: url(../images/pc_back_img.png);
}

main{
    max-width: 1000px;
    margin: 0 auto;
    
}

h2{
    font-size: 42px;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 13px;
    line-height: 25px;
}
p{
    font-size: 14px;
}

/* index/html_abput */
.About_nav img{
    width: 110px;
    margin: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 55px;
}
.About_nav p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.aboutme img{
    width: 290px;
    padding-left: 38px;
}
.text_continer p{
    text-align: left;
    padding-bottom: 65px;
    padding-top: 30px;
}
.text_continer{
    display: flex;
}
.about_name{
margin-left: 110px;

}
.button_about{
    display: block;
    width: 143px;
    color: #544C40;
    font-size: 18px;
    background: #D3B3A8;
    border-radius: 50px;
    padding: 15px 30px;
   margin-left: auto;
   text-align: center;
   
}
/* index/html worlk */
.Works_nav{
    text-align: center;
}
.works_main_nav img{
    margin-bottom: 80px;
}

.works_main_nav a,.works_page_menu a
,.graphic_page_manu a{
    display: block;
    width: 31%;
}
.works_main_nav,.works_page_menu,.graphic_page_manu{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.button_works{
    color: #544C40;
    font-size: 13px;
    background: #D3B3A8;
    border-radius: 20px;
    padding: 15px 30px;
    
}

/* index/html_service */

h5{
    font-size: 15px;
    text-align: center;
    padding-bottom: 38px;
}
.service_imges{
    width: 360px;  
    display: flex;
    gap: 37px;
    margin-left: 130px;
    
}

/* contact */
.Contact_nav{
    text-align: center;
}
.Contact_nav p{
    font-size: 21px;
    line-height: 48px;
    padding-bottom: 85px;
}
.button{
    color: #544C40;
  font-size: 13px;
  background: #D3B3A8;
  border-radius: 50px;
  padding: 15px 30px;
  
}
.Contact_nav img{
    width: 110px;
    margin: auto;
  display: block;
  padding-bottom: 50px;
  padding-top: 90px;
}

/* about_html */

.aboutu_main{
max-width: 1000px;
background-color: #DBD2D0;
}


.plofile ,.career ,.skill ,.career2{
    margin-left: 110px;
}
.plofile h2 ,.skill h2{
    font-size: 36px;
    text-align: left;
    padding-bottom: 12px;
}

.plofile p ,.skill p{
    font-size: 12px;
}

.designer{
    font-size: 14px;
    position: absolute;
    right: 100px;
}
.career2 img{
width: 300px;
padding-top: 90px;
padding-bottom: 35px;
}
.career2 ul ,.career ul{
    display: flex;
    gap: 125px;
    padding-bottom: 200px;
}

.name h2{
font-size: 24px;
text-align: left;
padding-bottom: 18px;
}
.name h3{
    font-size: 14px;
}
.name p{
    font-size: 14px;
    line-height: 28px;
    padding-top: 63px;
   
}
.career_year1,.career_year2,
.career_year3,.career_year4,.career_year5{
    padding-left: 82px;
}
.career_text{
    padding-left: 53px;
    line-height: 21px;
    padding-bottom: 20px; 
}
.career_text1{
    padding-left: 53px;
    line-height: 21px;
    padding-bottom: 25px; 
    padding-top: 56px; 
}
.career_year1{
padding-top: 60px;
padding-bottom: 116px;
}
.career_year2{
padding-bottom: 50px;
}
.career_year3{
    padding-bottom: 25px;
}
.career_year4{
    padding-bottom: 92px;
}
.career_year5{
    padding-bottom: 90px;
}








/* works_html */

.works_title h2{
    font-size: 30px;
    margin-bottom: 120px;
}
.nav_Graphic a ,.nav_web a{
    font-size: 25px;
    font-weight: bold;
    border-left: 8px solid #D3B3A8;
    padding: 0px 0px 0px 5px;
}
.nav_Graphic , .nav_web{
    cursor: pointer;
    padding: 0px 20px 0px 5px;
}
.works_page_nav{
    display: flex;
    justify-content: center;
}
.works_page_menu img{
    padding-bottom: 80px;
}
 .worksline {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.worksline::before{
    margin-right: 20px;
}
.worksline::before{
    content: "";
    width: 70px;
    height: 1px;
    background-color: #544C40;
}

.works_page_menu h2,.graphic_page_manu h2{
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 15px;
}
.works_page_menu p,.graphic_page_manu p{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 15px;
}



















/* contact_html */
.form p{ 
    font-size: 16px;
    line-height: 33px;
    text-align: center;
}
.form img{
    width: 125px;
    margin: auto;
  display: block;
  padding-top: 55px;
  padding-bottom: 70px;
}

/* footer */
footer{
    background-color: #D3B3A8;
   text-align: center;
}
footer h2{
    font-size: 42px;
    text-align: center;
}
footer img{
    width: 60px;
    margin-top: 45px;
}
footer p{
    font-size: 12px;
    margin-top: 43px; 
    padding-bottom: 25px;

}
/* works01-10_html　実績　テキスト部分 */
.worksline_content {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 80px;
}
.worksline_content::before{
    margin-right: 20px;
}
.worksline_content::before{
    content: "";
    width: 70px;
    height: 1px;
    background-color: #544C40;}

.works_sub h2{
    font-size: 24px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 50px;
    border-left:5px solid #D3B3A8; 
    padding:2px 8px
}
.works_sub h3{
    font-size: 18px;
    border-bottom: 1px solid #544C40;
    padding-bottom: 55px;
    padding-left: 20px;
}
.works_sub dl{
    display: flex;
    flex-wrap: wrap;
}
.works_sub dt{
    font-weight: 700;
    width: 25%;
    padding: 16px 8px;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.works_sub dd{
    width: 75%;
    padding: 16px 8px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
    box-sizing: border-box;
    line-height: 24px;
}
/* works_０１ */
.works_sub img{
    padding-top: 55px;
}
    
.works_1_PC_LP{
    padding-top: 180px;
    max-width: 100%;
    margin: 0 auto;
}
/* works_06,07,08,09,10*/
.works_06_banner,.works_07_banner
,.works_08_banner,.works_09_flyer
,.works_10_flyer{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 135px;
}

/* works_04,03,02,*/
.works_02_LP,.works_03_LP
,.works_04_LP{
    display: flex;
    justify-content: space-evenly;
    padding-top: 180px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #d3b3a844;
}
.portfolio_pc img,.workers_pc img,.design_cafe_pc img{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.portfolio_sp img,.workers_sp img,.design_cafe_sp img
{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 80px;
    }

    <!--
    body {
        margin:0;
        padding:0;
        text-align:center;
        
    }
    #device {
        position:relative;
        margin:30px auto;
        background-color: #fff;
        width:344px;		/* 横スクロールバー+ボーダー */
        padding:100px 17px 15px;
        border:4px solid #c9c9c9;
        border-radius:50px;
        box-shadow:0 1px 24px #111;
    }
   
    
    #wrapper {
        overflow-x:hidden;
        overflow-y:scroll;
        height:450px;		/* ★iphone5 */
        border:3px solid #333;
        border-radius:2px;
    }
    #wrapper img {
        width:280px;
        border:0;
    }
    #button_mac{
    
        margin: 25px auto 0;
    }
    
    -->
    /* スマホ */
    /* ---- スマートフォン風スタイル --- */
    .is-style-smartphone{
        --frame-color:#ced1d5;--frame-width:6px;--smartphone-width:0;--border-rd:0;--camera-width:0;--camera-height:0}.-s-14pro{--frame-color:#3c3c3c}.-c-gray{--frame-color:#ced1d5}.-c-black{--frame-color:#3c3c3c}.is-style-smartphone{border:solid calc(var(--smartphone-width)* .015) var(--frame-color);width:fit-content;border-radius:calc(var(--border-rd) * .8);background:var(--frame-color);position:relative;box-shadow:0 12px 24px -2px rgb(0 0 0 / 25%);margin:0 auto 3em}.is-style-smartphone img,.is-style-smartphone video{box-shadow:0 2px 24px -2px rgb(0 0 0 / 25%);clip-path:inset(2px round calc(var(--border-rd) * .7))}.is-style-smartphone.-s-14pro{border-radius:var(--border-rd)}.is-style-smartphone.-s-14pro img,.is-style-smartphone.-s-14pro video{clip-path:inset(2px round calc(var(--border-rd) * .85))}.is-style-smartphone p{width:var(--camera-width);height:var(--camera-height);position:absolute;top:1.5px;left:calc(var(--smartphone-width) / 2);transform:translate(-50%,0);-webkit-transform:translate(-50%,0);background:var(--frame-color);mask-image:url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22b%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%2020%22%3E%3Cg%20id%3D%22c%22%3E%3Cpath%20d%3D%22M85.26%2C20c4.02%2C0%2C10.58-3.46%2C10.58-12.76v-1.16C95.69%2C2%2C97.16%2C0%2C100%2C0H0c2.84%2C0%2C4.31%2C2%2C4.16%2C6.08v1.16c0%2C9.3%2C6.56%2C12.76%2C10.58%2C12.76H85.26Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);-webkit-mask-image:url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22b%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%2020%22%3E%3Cg%20id%3D%22c%22%3E%3Cpath%20d%3D%22M85.26%2C20c4.02%2C0%2C10.58-3.46%2C10.58-12.76v-1.16C95.69%2C2%2C97.16%2C0%2C100%2C0H0c2.84%2C0%2C4.31%2C2%2C4.16%2C6.08v1.16c0%2C9.3%2C6.56%2C12.76%2C10.58%2C12.76H85.26Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);mask-repeat:no-repeat;-webkit-mask-repeat:no-repeat}.is-style-smartphone.-s-14pro p{width:calc(var(--camera-width) * .8);top:calc(var(--border-rd) * .5);transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);border-radius:calc(var(--camera-width) / 3.4);mask-image:none;-webkit-mask-image:none}.is-style-smartphone.-no-camera p{display:none}.is-style-smartphone figure{margin-bottom:0 !important}.is-style-smartphone video{margin-bottom:calc(var(--smartphone-width)* -0.014)}@media(max-width:599px){.is-style-smartphone video{margin-bottom:calc(var(--smartphone-width)* -0.035)}}/* ---- END スマートフォン風スタイル --- */
/* wokes_05,11 */

/* <!--
body {
	margin:0;
	padding:0;
	text-align:center;
	
}
#device {
	position:relative;
	margin:30px auto;
	background-color: #fff;
	width:344px;		/* 横スクロールバー+ボーダー */
	/* padding:100px 17px 15px;
	border:4px solid #c9c9c9;
	border-radius:50px;
	box-shadow:0 1px 24px #111;
}
.mac #device {
	width:326px;
}
#wrapper {
	overflow-x:hidden;
	overflow-y:scroll;
	height:568px;		/* ★iphone
	border:3px solid #333;
	border-radius:2px;
}
#wrapper img {
	width:320px;
	border:0;
}
#button {
	width:58px;
	height:58px;
	margin:15px auto 0;
}
#earpiece {
	position:absolute;
	top:55px;
	left:50%;
	width:60px;
	height:6px;
	margin-left:-33px;
}
*/ 

 
 .pc{
        width: 577px;
    }
.pc2{
        padding-bottom: 90px;
        width: 350px;
    }
.sikaku{
        background-color: #544C40;
        width: 15px;
        height: 15px;
        margin-left: 45px;
        margin-right: 18px;
    }
.promotion_text{
        display: flex;
        justify-content: left;
        padding-top: 45px;
        padding-bottom: 20px;
    }
.promotion_3 h4,.promotion_2 h4,.promotion_1 h4{
        font-size: 20px;
    }
.promotion_3,.promotion_2{
    background-color: #eda8864b;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.promotion_pic {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
} 

.promotion_3_pc{
    width: 58%;
    margin: 0 auto;
    margin-bottom: 125px;
}
.promotion_3_fly{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 125px;
}

 /* side_btn  works実績用 */
.side1_pc img{
    position: fixed;
    width: 20px;
    right: 40px;
    top:450px;
}
.side2_pc img{
    position: fixed;
    width: 20px;
    right: 40px;
    top:350px;
}
/* none sp*/ 
.header_nav_sp,.works_main_nav_sp
,.side1_sp,.side2_sp,.promotion_pic_sp{
    display: none;
}
@media screen and (max-width:1100px){
    .header_nav{
        display: none;
    }
    
    .hamburger{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
       } 
       .hamburger span{
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        top: 50%;
        transition: 0.3s;
       }
       .hamburger span::before{
        position: absolute;
        content:"" ;
        width: 30px;
        height: 2px;
        background-color: white;
        top: -10px;
        transition: 0.3s;
       }
       .hamburger span::after{
        position: absolute;
        content:"" ;
        width: 30px;
        height: 2px;
        background-color: white;
        bottom: -10px;
        transition: 0.3s;
       }
       .open span{
        background-color: transparent;
       }
       .open span::before{
        transform: rotate(45deg);
        top: 0;
       }
       .open span::after{
        transform: rotate(-45deg);
        bottom: 0;
       }
    .header_nav_sp{
        position: absolute;
        background-color: #d1a8a197;
        width: 100%;
        height: 100vh;
    }

    .header_nav_sp ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .header_nav_sp li{
        color: white;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
    }
    .header_nav_sp img {
        width: 60px;
    }
    
        
    
}
@media screen and (max-width:767px){
/* home */
.works_main_nav{
    display: none;
}
.works_main_nav_sp{
    display: block;
    padding-bottom: 50px;
}
main,.form{
    margin-right: 25px;
    margin-left: 25px;
}
h1{
 color: whitesmoke;
    font-size: 40px;
    
}
h1 span{
    display: none;
}
.text_continer{
    flex-direction: column;
    
}
.about_name{
    margin: 0 auto;
    padding-top: 50px;
}
.slick-dots{
    bottom: 10px;
}
.slick-dots ul{
    color: #544C40;
}
.Service_nav h2{
    padding-top: 70px;
    padding-bottom: 30px;
}
.Service_nav h5{
    font-size: 11px;
}
.service_imges{
    flex-direction: column;

}
.Contact_nav p{
    font-size: 14px;
    line-height: 25px;
}

/* about */
.designer{
    display: none;
}
.aboutu_main{
    margin: 0 auto;
}
.plofile ,.career ,.skill ,.career2{
    margin-left:10px;
    margin-right: 10px; 
    text-align: center;
}
.skill p,.plofile p{
    text-align:left ;
}
.career2 ul{
    flex-direction: column;
}
/* contact */

/* works　実績*/
.works_sub h2{
font-size: 14px;
margin-bottom: 8px;
}
.works_sub h3{
    font-size: 12px;
    padding-bottom: 10px;
}
.works_sub dt{
    width: 35%;
    padding: 16px 4px;
    font-size: 13px;
}
.works_sub dd{
    display: flex;
align-items: center;
width: 65%;
padding: 16px 8px;
font-size: 13px;
line-height: 1.4;
}

/* works_01*/
.works_1_PC_LP{
  padding-top: 100px;
}
/* works_06,07,08,09,10*/
.works_06_banner,.works_07_banner
,.works_08_banner,.works_09_flyer
,.works_10_flyer{
margin-top: 80px;
}
/* works_04,03,02,*/
.works_02_LP,.works_03_LP
,.works_04_LP{
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    max-width: 100%;
}

.works_02_LP img,.works_04_LP img,.works_03_LP img{
    max-width: 100%;
}
.portfolio_pc,.design_cafe_pc,.workers_pc{
    margin-inline: 10%;
}

/* works_05,11 */
.promotion_3 h4,.sikaku{
display: none;
}
.promotion_pic{
    display: none;
}
.promotion_pic_sp{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

/* work 実績のサイドボタン */
.side1_pc,.side2_pc{
    display: none;
    
}

}
.side{
    display: block;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 60px;

}
.side1_sp img {
    width: 67px;
}
.side2_sp img{
    width: 90px;
}

